*,
*::before,
*::after {
    font-family: Poppins;
    box-sizing: border-box;
}
/* RESETTING FONT for FontAwesome Icons */
i::before {
    font-family: FontAwesome;
    font-weight: normal;
}

html,
body {
    height: 100vh;
}

body{
    /* overflow-y: hidden; */
    position: relative;
}

.main-section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* scroll-snap-type: y mandatory;
    overflow-y: auto; */
}
.main-subsection-wrapper {
    /* height: 100vh;
    scroll-snap-align: center; */
    min-width: 100vw;
}

/* 
----------------
    NAVBAR
----------------
*/
.navbar {
    /* position: absolute; */
    padding: 0;
    margin: 0;
}
#nav-menu-icon {
    padding: 0;
    margin: 0;
    width: 60px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-menu-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #686868;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-menu-icon span:nth-child(1) {
    top: 0px;
}

#nav-menu-icon span:nth-child(2),#nav-menu-icon span:nth-child(3) {
    top: 18px;
}

#nav-menu-icon span:nth-child(4) {
    top: 36px;
}

#nav-menu-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-menu-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-menu-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* 
----------------
    PARALLAX
----------------
*/
.parallax {
    min-height: 100vh;

    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}
/* TEXT ON PARALLAX */
.parallax > div.text-on-image {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #111;
}
.parallax > div.text-on-image > span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* 
-------------------------
    BACKGROUND IMAGES
-------------------------
*/
.bgimg-istituto {
    background-image: url("https://source.unsplash.com/1920x1080/?earth");
}
.bgimg-classe {
    /* background-image: url("../img/fantasy.jpg"); */
    background-image: url("../img/631.jpg");
}
.bgimg-docenti {
    /* background-image: url("https://source.unsplash.com/720x640/?flames"); */
    /* background-image: url("../img/631.jpg"); */
    background-image: url("../img/crop-hand-man-chalking-graph-blackboard.jpeg");
}

/* 
----------------------------------
    SECTION HEADERS/NAVBARS
----------------------------------
*/
.section-header {
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #111;
    overflow: hidden;
    height: auto;
    padding: 1vh 0;
    opacity: 96%;
}
.section-header .navbar .item {
    /* margin: auto -3em; */
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}

/* ICONS */
.section-header .navbar .item,
.section-header .navbar i {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
.section-header .navbar .item span.label {
    margin: auto 1em;
}
.section-header .navbar i {
    display: inline-flex;
    align-items: center;
}
.section-header .navbar i::before {
    font-size: 2em;
}

/* 
-----------------
    SECTIONS
-----------------
*/
section.description {
    min-height: 50%;
    background-color: #111;
    color: white;
}
.text-container {
    width: 50%;
}
.text-container h2 {
    display: block;
    font-weight: bold;
}
.text-container p {
    text-align: justify;
}
.description-image-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 20%;
}
.description-image {
    max-height: 100%;
    max-width: 100%;
}
/* 
-----------------
    FOOTER
-----------------
*/
footer {
    margin-top: 25vh;
    width: 100%;
    height: 50vh;
}
footer div {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
footer div .credit {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}